
.main-container {
    margin: 20px;
}

.columnHeader {
    background-color: lightgray;
    font-weight: bold;
    padding: 2px 5px;
    width: 80px;
    text-align: center;
}
.rowHeader {
    background-color: lightgray;
    font-weight: bold;
    padding: 2px 5px;
    width: 30px;
    text-align: right;
}

.cell {
    border: 1px solid rgb(230, 227, 227);
    margin: 0 0;
    border-collapse: true;
    padding: 5px 5px;
    height: 30px;
}	

.selectedCell {
    background-color: lightgoldenrodyellow;
}
